        #h {
            color: blue;
        }

        .it {
            background-color:whitesmoke;
            border-radius: 10px;
            margin: auto;
        }

        #nam {
            background-color:blue;
        }

        input {
            background-color: aliceblue;
        }